@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
margin: auto;
color: var(--bs-black);
}
/*main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}*/

#pokeName{
    text-transform: capitalize;
}

.pokedexLeft{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 50vw;
    height: 48vh;
    min-height: 400px;
    background-color: #CE1131;
}

.screen{
    position: relative;
    display: inline-block;
    text-align: center;
}
.number-name{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pokeImage {
    display: block;
    /*width: 96%;*/
    border: 20px solid #DEDEDE;
    border-radius: 10% 10% 10% 30%;
    margin: 2%;
    background-color: #F1F2D3;
    box-shadow: -6px 6px 0px 3px #6a6a72;
}

.pokedexRight{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 50vw;
    height: 48vh;
    min-height: 400px;
    background-color: #BD0F34;
}

.progress{
    height: 9px;
}
